/*
*
*	Main Style File
*
*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #FFFCFF;
  overflow: hidden;
  font-family: 'Bitter'; }

p {
  color: #50514F; }

* {
  outline: 0; }

::selection {
  background-color: transparent; }

::moz-selection {
  background-color: transparent; }

::webkit-selection {
  background-color: transparent; }

.side-menu {
  height: 100%;
  width: 300px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #50514F; }
  .side-menu .sequence-buttons {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center; }
  .side-menu .sequence-list input.time {
    display: inline-block;
    border: 0;
    height: 22px;
    width: 60px;
    text-align: center;
    left: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    background-color: #1897c8;
    color: #FFFCFF;
    font-family: 'Bitter';
    font-size: 14px; }
  .side-menu .sequence-list li {
    position: relative;
    padding: 15px;
    padding-left: 100px;
    color: #FFFCFF;
    border-top: 1px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    height: 48px;
    line-height: 48px;
    text-align: left; }
    .side-menu .sequence-list li:last-child {
      border-bottom: 1px solid black; }
  .side-menu .sequence-list li.text {
    padding-left: 15px;
    text-align: center; }

.button {
  cursor: pointer;
  display: inline;
  height: 20px;
  padding: 3px 15px 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  background-color: #FFFCFF;
  border-radius: 7px;
  margin-left: 20px; }
  .button:hover {
    background-color: #F06449;
    border-color: #c32d10; }
  .button:active {
    background-color: #ec3c1a;
    border: none; }
  .button:first-child {
    margin-left: 0; }
  .button i {
    font-size: 12px;
    vertical-align: middle;
    margin-right: 2px; }

.grid {
  position: relative; }
  .grid .tile {
    position: absolute;
    display: block;
    border: 1px solid rgba(80, 81, 79, 0.2);
    border-top: none;
    border-left: none; }

/*# sourceMappingURL=index.css.map */